<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>123084071639-s62l766bcg02ifft71l495cdnqvnqv3q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.123084071639-s62l766bcg02ifft71l495cdnqvnqv3q</string>
	<key>API_KEY</key>
	<string>AIzaSyAGYLDB8PBgY23tbkAYrSzU_xUy4v4dqu0</string>
	<key>GCM_SENDER_ID</key>
	<string>123084071639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smoothdesign</string>
	<key>PROJECT_ID</key>
	<string>smooth-pyramid</string>
	<key>STORAGE_BUCKET</key>
	<string>smooth-pyramid.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:123084071639:ios:983672f166b4d6ea348692</string>
</dict>
</plist>